rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Match all documents in the "users" collection
    match /users/{userId} {
      // Allow read and write access only if the user is authenticated
      // and the userId matches their UID
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Allow admins to read and write any user document
      allow read, write: if request.auth != null && request.auth.token.Admin == true;

      // Allow access to the "activities" subcollection
      match /activities/{activityId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    // Match all other collections
    match /{document=**} {
      // Deny all access by default
      allow read, write: if false;
    }
  }
}